rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
    match /portfolio/{document} { allow read: if true; }
    match /skills/{document} { allow read: if true; }
    match /education/{document} { allow read: if true; }
    match /experience/{document} { allow read: if true; }
    match /service_configs/{document} { allow read: if true; }
    match /settings/{document} { allow read: if true; }
    match /testimonials/{document} { allow read: if true; }
    match /contacts/{document} {
      allow read: if request.auth != null; // only admin can read
      allow create: if true; // anyone can submit contact form
      allow update, delete: if request.auth != null;
    }
  }
}